body{
    background-size: cover;
    background-position: center;
}
.heading{
    font-size: 25px;
}
.note{
    width: 100%;
    font-size: 18px;

}
#header_div{
    background-color:cadetblue;
}
canvas{
    box-shadow: 5px 5px 5px grey;
    border-radius: 20px;
    border-color: rgba(75, 67, 67, 0.342);
    color: orange;
    margin-top: 30px;
}
#status, #number_of_objects
{
font-size: 18px;
}